@import "tailwindcss";

@font-face {
  font-family: "PP Mondwest";
  src: url("@/assets/fonts/PPMondwest-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Mondwest";
  src: url("@/assets/fonts/PPMondwest-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP NeueBit";
  src: url("@/assets/fonts/PPNeueBit-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP NeueBit";
  src: url("@/assets/fonts/PPNeueBit-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-mondwest:
    "PP Mondwest", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, sans-serif;
  --font-neuebit:
    "PP NeueBit", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --font-sans:
    "PP NeueBit", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;

  --color-navy: oklch(14.263% 0.02828 238.93);
}

/* light */
:root {
  --background: var(--color-navy);
  --foreground: var(--color-white);
}

/* dark */
.dark {
  --background: var(--color-black);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer base {
  a {
    cursor: alias;
  }

  ::selection {
    background-color: lime;
    color: black;
    text-shadow: 0 0 2px lime;
  }
}
